#target-damage-chat-window {
    position: relative;
    border: 2px solid #6f6c66;
    border-radius: 5px;
    padding: 5px;
    margin-top: 3px;
}

#target-damage-target-name {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

#target-damage-damage-buttons + #target-damage-target-name {
    margin-top: 3px;
}
#target-damage-target-name + #target-damage-target-name {
    margin-top: 3px;
}

#target-damage-hide-button {
    width: 0.7em;
    padding: 7px;
}

.damage-application.hidden {
    float: left;
    position: relative;
}

.damage-application.hidden.right {
    right: 1em;
    padding: 0 7px 0 0;
    top: -5px;
    position: absolute;
}

.hidden.right #target-damage-hide-button {
    z-index: 1;
    margin: 8px 0 0 -1px;
    height: 0.8em;
    position: absolute;
}

.hidden #target-damage-hide-button {
    left: 0;
    z-index: 1;
    margin: 10px 0 0 8px;
    height: 0.8em;
    position: absolute;
}
