.pf2e-td.small-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1px;
	width: 22px;
	height: calc(100% - 2px);
	position: absolute;
}

.applied {
	filter: brightness(0.7) !important;
}

.pf2e-td.name-icon {
	right: 0;
	width: 16px;
	margin: 2px;
	position: absolute;
    color: green;
    text-shadow: 0 0 8px greenyellow;
}

.pf2e-td.small-button.splash-button {
	top: 0;
	left: 0;
}

.pf2e-td.small-button.target-button {
	top: 0;
	left: 0;
}

.pf2e-td.quick-buttons {
	margin-top: 0px;
}

.spell-button .pf2e-td.target-button {
	height: calc(100% - 12px);
	top: 4px;
	left: 4px;
	width: 24px;
}

.pf2e-td.target-section {
	position: relative;
}

.pf2e-td.small-button.hide-button {
	top: 0;
	right: 0;
}

.pf2e-td.damage-application {
	gap: 1px;
	margin-top: 0px;
}

.pf2e-td.damage-application .label {
	font-size: var(--font-size-8);
}

.pf2e-td.name {
	position: relative;
	line-height: revert !important;
	border: none !important;
	user-select: none !important;
	word-break: break-all;
	text-align: center;
	display: flex;
	font-weight: 800;
	justify-content: center;
	max-height: var(--font-size-34);
	font-size: var(--font-size-10);
	cursor: pointer;
}

.pf2e-td.save button,
.pf2e-td.damage-application button {
	margin: 0px;
}

.pf2e-td.save,
.pf2e-td.damage-application {
	gap: 1px;
}

.pf2e-td.name[data-visibility=gm] {
	display: flex;
	padding: 0px 2px 0px 0px;
}

.pf2e-td.damage-application[data-visibility=gm] {
	padding: 1px;
}

.pf2e-td.heal-damage .fa-stack {
	font-size: .5em;
}

.pf2e-td.select span {
	color: aliceblue;
	background: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
	border-radius: 3px;
	padding: 1px 4px;
}

.chat-message .message-content .pf2e-td.save,
.chat-message .message-content .pf2e-td.damage-application {
	margin-top: 0px;
}

.pf2e-td.criticalSuccess {
	transition: background-color 0.5s ease;
	background-color: rgb(0, 128, 0, 0.3);
}

.pf2e-td.success {
	transition: background-color 0.5s ease;
	background-color: rgb(0, 0, 255, 0.3);
}

.pf2e-td.failure {
	transition: background-color 0.5s ease;
	background-color: rgb(255, 69, 0, 0.3);
}

.pf2e-td.criticalFailure {
	transition: background-color 0.5s ease;
	background-color: rgb(255, 0, 0, 0.3);
}

wrapper.pf2e-td {
	display: flex;
	margin-top: 3px;
	align-items: center;
	gap: 2px;
}

wrapper.pf2e-td.name-left {
	flex-direction: row;
}

wrapper.pf2e-td.name-left .pf2e-td.name {
	overflow: auto;
	user-select: none !important;
	display: flex;
	flex: 50px 1 1;
}

wrapper.pf2e-td.name-left .pf2e-td.damage-application {
	flex: 235px 1 0;
}

wrapper.pf2e-td.name-top {
	flex-direction: column;
}

wrapper.pf2e-td.name-top .pf2e-td.name {
	word-break: break-word;
	width: 100%;
	user-select: none !important;
	font-size: var(--font-size-14);
}

wrapper.pf2e-td.name-top .pf2e-td.damage-application {
	width: 100%;
}