.pf2e-td.splash-button {
    top: 0;
    left: 0;
    padding: 1px 0px 0px 0px;
    margin: 1px;
    position: absolute;
    width: var(--font-size-22);
    height: var(--font-size-22);
    font-size: var(--font-size-15);
}

.pf2e-td.hide-button {
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin: 1px;
    position: absolute;
    width: var(--font-size-22);
    height: 24px;
    font-size: var(--font-size-15);
}

.pf2e-td.hide-button .fa-fw {
    margin-top: 25%;
}

.pf2e-td.splash-button .fa-fw {
    top: -4px;
    position: relative;
}

.pf2e-td.name {
    word-break: break-all;
    text-align: center;
    display: flex;
    font-weight: 800;
    padding: 0px 2px 0px 0px;
    align-items: center;
    justify-content: center;
    margin: 1px;
    max-width: 44px;
    min-width: 44px;
    max-height: var(--font-size-34);
    font-size: var(--font-size-10);
    overflow: auto;
    cursor: pointer;
}

.pf2e-td.damage-application button {
    margin: 0px;
}

.pf2e-td.name[data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    display: flex;
    padding: 0px 2px 0px 0px;
}

.pf2e-td.heal-damage .fa-stack {
    font-size: .5em;
}